packaging_format = 2

id = "invoiceninja5"
name = "InvoiceNinja 5"
description.en = "Create and email invoices, track payments, expenses, and time tasks"
description.fr = "Créer et envoyer des factures par e-mail, suivre les paiements, les dépenses et les tâches horaires"

version = "5.7.45~ynh1"

maintainers = ["Sebastian Gumprich"]

[upstream]
license = "Elastic-2.0"
website = "https://invoiceninja.org"
demo = "https://react.invoicing.co/demo"
admindoc = "https://invoiceninja.github.io/"
userdoc = "https://invoiceninja.github.io/"
code = "https://github.com/invoiceninja/invoiceninja"

[integration]
yunohost = ">= 11.1.19"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "200M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "string"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Use the help field to add an information for the admin about this question."
    help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/invoiceninja/invoiceninja/releases/download/v5.7.45/invoiceninja.zip"
        sha256 = "3db524d14af81e585905eddb489eba0876992a142c5a30c456436b9478897568"
        in_subdir = false
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "invoiceninja.zip" 

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server php8.2-bcmath php8.2-gmp php8.2-fileinfo php8.2-gd php8.2-mbstring php8.2-pdo php8.2-xml php8.2-curl php8.2-zip php8.2-mysql libnss3-dev libatk1.0-0 libatk-bridge2.0-0 libxcomposite1 libxrandr2 libasound2 libcups2 libdrm2 libxkbcommon0 libxdamage1 libxfixes3 libgbm1 libpango-1.0-0 libcairo2"

    [resources.database]
    type = "mysql"
